.menu-container {
  position: absolute;
  bottom: 40px; /* Adjust this to position the popup just above the button */
  right: 0;
  opacity: 0;
  transform: translateY(20px); /* Start the popup just below the button */
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease;
}

.menu-open {
  opacity: 1;
  transform: translateY(0); /* Slide the menu upwards to its final position */
  pointer-events: auto;
}

.menu-closed {
  opacity: 0;
  transform: translateY(20px); /* Keep the menu just below the button */
  pointer-events: none;
}


@keyframes scroll {
  0% {
    /* transform: translate(-50%, 0); */
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 20px);
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 2s infinite;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}


